{% extends "layout.html" %}
	
{% block content %}

<h1> Dokumentacja </h1>

<h2>Projekt Koncepcji, założenia</h2>
<h3>Zdefiniowanie tematu projektu</h3>
<h3>Analiza wymagań użytkownika</h3>
<h3>Zaprojektowanie  funkcji</h3>

<h2>Projekt  diagramów (konceptualny)</h2>
<h3>Budowa i analiza diagramu przepływu danych (DFD)</h3>
<h3>Zdefiniowanie encji (obiektów) oraz ich atrybutów. </h3>
<h3>Zaprojektowanie relacji pomiędzy encjami</h3>

<h2>Projekt  logiczny</h2>
<h3>Projektowanie tabel, kluczy, indeksów</h3>
<h3>Słowniki danych: wypisać słownik danych, określić dziedziny oraz ich ograniczenia.</h3>
<h3>Analiza zależności funkcyjnych i normalizacjatabel (dekompozycja do 3NF ewentualnieBCNF)</h3>
<h3>Denormalizacja struktury tabel</h3>
<h3>Zaprojektowanie operacji na danych</h3>

<h2>Projekt  funkcjonalny</h2>
<h3>Interfejsy    do  prezentacji,  edycji  i  obsługi  danych</h3>
<h3>Wizualizacja danych</h3>
<h3>Zdefiniowanie panelu sterowania aplikacji.</h3>
<h3>Makropolecenia</h3>

<h2>Dokumentacja</h2>
<h3>Wprowadzanie danych</h3>
<h3>Dokumentacja użytkownika</h3>
<h3>Opracowanie dokumentacji technicznej</h3>

{% endblock content %}
